<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #003b71;"></span>
		<span class="sg-label">
			$deep-blue<br />
			#003b71
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0078b3;"></span>
		<span class="sg-label">
			$kp-blue <br />
			#0078b3
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #92ccf0;"></span>
		<span class="sg-label">
			$light-blue <br />
			#92ccf0
		</span>
	</li>
</ul>
