<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F36C0D;"></span>
		<span class="sg-label">
            $mid-orange <br />
            #F36C0D
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #583985;"></span>
		<span class="sg-label">
			$deep-violet <br />
			#583985
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FEC941;"></span>
		<span class="sg-label">
			$light-orange <br />
			#FEC941
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #57A635;"></span>
		<span class="sg-label">
			$mid-green <br />
			#57A635
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #706259;"></span>
		<span class="sg-label">
			$deep-gray<br />
			#706259
		</span>
	</li>
</ul>
